:root {
    --primary-color: #1992d4;
    --secondary-color: white;
    --terciary-color: #e2e8f0;
    --font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 2fr 8fr;
    min-height: 100vh;
}

.header {
    background-color: var(--secondary-color);
    grid-column: 2/3;
}

.sidebar {
    background-color: var(--primary-color);
    grid-row: 1/ -1;
    display: grid;
    grid-template-rows: 64px repeat(11,32px);
    gap: 16px
}

.content {
    background-color: var(--terciary-color);
    grid-column: 2/ -1;
    grid-row: 2/ -1;
}


.sb-content, .sb-title {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 32px;
}

.sb-title {
    padding: 48px 32px;
}

.sb-title-div {
    font-size: 2rem;
    color: var(--secondary-color);
    font-weight: 900;
    margin: 8px;
}

.sb-content img, .sb-div {
    color: var(--secondary-color);
    margin: 8px;
    font-weight: 700;
    font-size: 1.5rem;
    fill: var(--secondary-color);
}

.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 3fr;
}

.search, .notification, .nav {
    display: flex;
    align-items: center;
    padding: 32px;
}

.search-bar {
    margin: 0px 64px 0px 16px;
    min-height: 2rem;
    background-color: var(--terciary-color);
    flex-grow: 1;
    border-radius: 16px;
}

.notification {
    justify-content: center;
}

.notification img {
    margin: 0px 16px;
}

.nt-username {
    font-weight: bold;
    font-size: 1.2rem;
}

.nav {
    justify-content: space-evenly;
}

.nav-bt {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    /* font-weight: bold; */
    /* font-size: 1.2rem; */
    padding: 16px 32px;
    border-radius: 9999px;
}